.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 3rem;
}

.login::before {
  display: block;
  content: "";
  background: url('/Assests/Loginimagem.jpg') no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  margin-top: 10vh;
}


@media (max-width: 637px) {

  .forms {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login:before {
    display: none;
  }

}