
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin: 0;
  color: #fff;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second:  "Signika Negative", sans-serif;
  font-family: var(--type-first);
  background: linear-gradient(90deg, #003A4A, #2A003F);
  min-height: 100%;
}


main {
  flex: 1;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul,li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100% !important; 
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.maincontainer {
  margin-top: 2rem;
}

a{
  text-decoration: none;
  color: #333;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2.75rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  color: #fff;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform:  translateX(-20px);
  animation: animeLeft .3s forwards;
}



@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.appbody {
  flex: 1;
}

.VictoryContainer {
  height: initial !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}



@media (max-width: 459px) {
  body {
    padding-top: 0;
  }

  .container {
    padding: 0;
  }

  .details {
    width: 50%;
  }

}